<% layout('templates/boilerplate.ejs') -%>

    <section class="container mt-5 text-center vh-80">
        <h1 class="mb-4">Welcome to Yelp Campground</h1>

        <img src="https://images.unsplash.com/photo-1517824806704-9040b037703b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
            class="img-fluid shadow mb-3 bg-body rounded" alt="Campground picture">

        <h3 class="mb-3">
            See All Of Our Campgrounds
            <button type="button" class="btn btn-info"><a href="/campgrounds">Here</a></button>
        </h3>
    </section>